In [17]:
import pandas as pd

In [18]:
heights_A = pd.Series([176.2, 158.4, 167.6, 156.2,161.4],index=['s1', 's2', 's3', 's4', 's5'])

In [19]:
heights_A.shape

(5,)

In [20]:
weights_A = pd.Series([85.1, 90.2, 76.8, 80.4, 78.9],index=['s1', 's2', 's3', 's4', 's5'])

In [21]:
weights_A.shape

(5,)

In [25]:
data={'Student_height':heights_A, 'Student_weight':weights_A}
df_A=pd.DataFrame(data)

In [26]:
df_A

    Student_height  Student_weight
s1           176.2            85.1
s2           158.4            90.2
s3           167.6            76.8
s4           156.2            80.4
s5           161.4            78.9

In [34]:
import numpy as np
heights_B=pd.Series([round(i,1) for i in np.random.normal(loc=170.0, scale=25.0, size=5)], index = ['s1', 's2', 's3', 's4', 's5'])

In [33]:
weights_B = pd.Series([round(i,1) for i in np.random.normal(loc=75.0, scale=12.0, size=5)], index = ['s1', 's2', 's3', 's4', 's5'])

In [35]:
data={'Student_height':heights_B, 'Student_weight':weights_B}
df_B = pd.DataFrame(data)

In [36]:
df_B

    Student_height  Student_weight
s1           192.3            56.1
s2           176.2            76.6
s3           176.6            87.9
s4           188.1            76.9
s5           161.1            60.5

In [37]:
data = {'ClassA':df_A,'ClassB':df_B}
p = pd.Panel(data)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2963: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  exec(code_obj, self.user_global_ns, self.user_ns)

In [41]:
p.all

<bound method Panel.all of <class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 5 (major_axis) x 2 (minor_axis)
Items axis: ClassA to ClassB
Major_axis axis: s1 to s5
Minor_axis axis: Student_height to Student_weight>

In [42]:
heights_B[['s1','s2']]

s1    192.3
s2    176.2
dtype: float64

In [43]:
data = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data, columns=['a', 'b'])

In [44]:
df

   a   b
0  1   2
1  5  10

In [45]:
df.shape

(2, 2)

In [46]:
s = pd.Series([9.2, 'hello', 89])

In [48]:
s.dtype

dtype('O')

In [49]:
s = pd.Series([89.2, 76.4, 98.2, 75.9], index=list('abcd'))

In [50]:
s

a    89.2
b    76.4
c    98.2
d    75.9
dtype: float64

In [51]:
'b' in s

True